.recipesPage{
    /*align error messages, spinner*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipesGrid{
    /*When there's only one or two recipes, the recipe will take 100% of width*/
    width: 100%;
}

.errorMessage {
    font-size: 3em;
    font-family: Georgia, serif;
}


.recipe {
    height: 200px;
    min-width: 150px;
    /*animation*/
    transition: box-shadow 0.2s ease-in-out;
    cursor: pointer;
}

.recipe:hover {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 8px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}